In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_rows', 100)
import missingno as msno
import re
from sklearn.preprocessing import LabelEncoder
import pickle
%matplotlib inline

In [2]:
train_df = pd.read_csv("../input/train.csv")
test_df = pd.read_csv("../input/test.csv")

D:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train_df.head(6).transpose()

,0,1,2,3,4,5
member_id,13599771,1491956,64687987,8446850,58471388,5337525
loan_amnt,8875,12500,33600,17000,14000,24000
funded_amnt,8875,12500,33600,17000,14000,24000
funded_amnt_inv,8875,12475,33600,17000,14000,24000
term,36 months,36 months,60 months,60 months,60 months,60 months
int_rate,18.25,8.9,18.55,9.71,16.99,17.27
installment,321.97,396.92,863.31,358.78,347.87,599.96
grade,D,A,E,B,D,C
sub_grade,D3,A5,E2,B1,D3,C5
emp_title,Inventory/Part time Sup,Bel Brands USA,Assistant Principal,Cook Childrens Medical Center,Cook,walmart distribution cntr
emp_length,8 years,1 year,9 years,10+ years,5 years,10+ years
home_ownership,MORTGAGE,MORTGAGE,RENT,MORTGAGE,RENT,OWN
annual_inc,55000,43000,101300,47840,30000,70000
verification_status,Verified,Source Verified,Source Verified,Verified,Source Verified,Verified
issue_d,Mar-2014,May-2012,Sep-2015,Aug-2013,Jul-2015,Apr-2013
loan_status,Charged Off,Fully Paid,Current,Fully Paid,In Grace Period,Fully Paid
pymnt_plan,n,n,n,n,n,n
desc,NaN,NaN,NaN,Borrower added on 08/14/13 > Im not currentl...,NaN,NaN
purpose,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation
title,Debt consolidation,LC DbtL1,Debt consolidation,Consolidation,Debt consolidation,Debt Consolidation
zip_code,770xx,541xx,108xx,760xx,076xx,199xx
addr_state,TX,WI,NY,TX,NJ,DE
dti,23.65,10.58,20,4.01,31.85,33.54
earliest_cr_line,Feb-1985,Jul-1992,May-2001,Sep-1988,Mar-1999,Apr-1983
mths_since_last_record,50,NaN,NaN,NaN,NaN,NaN
pub_rec,1,0,0,0,0,0
revol_bal,10020,13202,21467,6585,4167,20288
revol_util,60,88,52,28.9,40.5,82.5
total_acc,31,18,27,14,21,33
initial_list_status,f,f,w,w,w,w
out_prncp,0,0,32552.2,0,13230.2,0
out_prncp_inv,0,0,32552.2,0,13230.2,0
total_pymnt,6078.11,14287.6,2555.3,18702.5,1712.92,32649.7
total_pymnt_inv,6078.11,14259,2555.3,18702.5,1712.92,32649.7
total_rec_prncp,3124.16,12500,1047.76,17000,769.76,24000
total_rec_int,1705.39,1787.61,1507.54,1702.48,943.16,8619.71
total_rec_late_fee,0,0,0,0,0,30
recoveries,1248.56,0,0,0,0,0
collection_recovery_fee,224.741,0,0,0,0,0
collections_12_mths_ex_med,0,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
annual_inc_joint,NaN,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0,0
tot_coll_amt,0,NaN,770,102,0,0
tot_cur_bal,144784,NaN,106215,129416,15589,311770
open_acc_6m,NaN,NaN,NaN,NaN,NaN,NaN
open_il_6m,NaN,NaN,NaN,NaN,NaN,NaN
open_il_12m,NaN,NaN,NaN,NaN,NaN,NaN
open_il_24m,NaN,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,NaN,NaN,NaN,NaN,NaN,NaN
total_bal_il,NaN,NaN,NaN,NaN,NaN,NaN
il_util,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_12m,NaN,NaN,NaN,NaN,NaN,NaN
open_rv_24m,NaN,NaN,NaN,NaN,NaN,NaN
max_bal_bc,NaN,NaN,NaN,NaN,NaN,NaN
all_util,NaN,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,16700,NaN,41300,22800,10300,24600
inq_fi,NaN,NaN,NaN,NaN,NaN,NaN
total_cu_tl,NaN,NaN,NaN,NaN,NaN,NaN
inq_last_12m,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
print (train_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 709903 entries, 0 to 709902
Data columns (total 64 columns):
member_id                      709903 non-null int64
loan_amnt                      709903 non-null float64
funded_amnt                    709903 non-null float64
funded_amnt_inv                709903 non-null float64
term                           709903 non-null object
int_rate                       709903 non-null float64
installment                    709903 non-null float64
grade                          709903 non-null object
sub_grade                      709903 non-null object
emp_title                      668721 non-null object
emp_length                     709903 non-null object
home_ownership                 709903 non-null object
annual_inc                     709899 non-null float64
verification_status            709903 non-null object
issue_d                        709903 non-null object
loan_status                    709903 non-null object
pymnt_plan                     709903 non-null object
desc                           100975 non-null object
purpose                        709903 non-null object
title                          709776 non-null object
zip_code                       709903 non-null object
addr_state                     709903 non-null object
dti                            709903 non-null float64
earliest_cr_line               709879 non-null object
mths_since_last_record         109555 non-null float64
pub_rec                        709879 non-null float64
revol_bal                      709903 non-null float64
revol_util                     709494 non-null float64
total_acc                      709879 non-null float64
initial_list_status            709903 non-null object
out_prncp                      709903 non-null float64
out_prncp_inv                  709903 non-null float64
total_pymnt                    709903 non-null float64
total_pymnt_inv                709903 non-null float64
total_rec_prncp                709903 non-null float64
total_rec_int                  709903 non-null float64
total_rec_late_fee             709903 non-null float64
recoveries                     709903 non-null float64
collection_recovery_fee        709903 non-null float64
collections_12_mths_ex_med     709785 non-null float64
mths_since_last_major_derog    177424 non-null float64
policy_code                    709903 non-null float64
application_type               709903 non-null object
annual_inc_joint               410 non-null float64
dti_joint                      408 non-null float64
verification_status_joint      410 non-null object
acc_now_delinq                 709903 non-null int64
tot_coll_amt                   653768 non-null float64
tot_cur_bal                    653768 non-null float64
open_acc_6m                    17121 non-null float64
open_il_6m                     17121 non-null float64
open_il_12m                    17121 non-null float64
open_il_24m                    17121 non-null float64
mths_since_rcnt_il             16669 non-null float64
total_bal_il                   17121 non-null float64
il_util                        14938 non-null float64
open_rv_12m                    17121 non-null float64
open_rv_24m                    17121 non-null float64
max_bal_bc                     17121 non-null float64
all_util                       17121 non-null float64
total_rev_hi_lim               653768 non-null float64
inq_fi                         17121 non-null float64
total_cu_tl                    17121 non-null float64
inq_last_12m                   17121 non-null float64
dtypes: float64(43), int64(2), object(19)
memory usage: 346.6+ MB
None

In [14]:
#Combine into data:
train_df['source']= 'train'
test_df['source'] = 'test'
dataset=pd.concat([train_df,test_df],ignore_index=True)
dataset.shape

(887379, 65)

In [15]:
# XGboost is good at dealing with numbers but definitely not good when dealing with string. 
# So the solution is neither we drop them or transform them.
drop_elements = ['annual_inc_joint',# high missing rate
                 'dti_joint',# high missing rate
                 'verification_status_joint',# high missing rate
                 'issue_d',#The month which the loan was funded
                 'emp_title',
                 'desc',
                 'title',
                 'desc', 
                 'zip_code',
                 'addr_state',
                 'earliest_cr_line', #借款人最早报告的信用额度被打开的月份
                 'application_type',
                 'pymnt_plan'  # 只有三个值是Y
                ]
dataset.drop(drop_elements,axis=1,inplace=True)

# Mapping emp_length
emp_length_mapping = {'< 1 year': 1, '1 year': 2, '2 years': 3, '3 years': 4, '4 years': 5, '5 years': 6, '6 years': 7, '7 years': 8, '8 years': 9, '9 years': 10, '10 years': 11, '10+ years': 12}
dataset['emp_length'] = dataset['emp_length'].map(emp_length_mapping)
dataset['emp_length'] = dataset['emp_length'].fillna(0)

# Mapping term: 36 months->36
dataset['term']=dataset['term'].apply(lambda row:int(re.findall(r"\d+\.?\d*",row)[0]))

# Mapping Category feature
category_feature=['grade','sub_grade','home_ownership','verification_status','loan_status','purpose','initial_list_status']
dataset[category_feature]=dataset[category_feature].apply(LabelEncoder().fit_transform)
# 离散变量->one_hot
Nominal_Values = ['loan_status', 'home_ownership','verification_status','purpose','initial_list_status']
#One-Hot Coding¶
dataset = pd.get_dummies(dataset, columns=Nominal_Values)
    
#Handle datetime，将Feb-1985转换成1985-02-01
#     dataset['earliest_cr_line'] =  pd.to_datetime(dataset['earliest_cr_line'], format='%b-%Y')
#     dataset['issue_d'] = pd.to_datetime(dataset['issue_d'], format='%b-%Y')

dataset['collections_12_mths_ex_med'] = dataset['collections_12_mths_ex_med'].fillna(dataset.collections_12_mths_ex_med.median())
dataset['annual_inc'] = dataset['annual_inc'].fillna(dataset['annual_inc'].median())

#  There are seven variables with 3 missing values, this is such a small number that I will just replace NaN with most common values.
variables3=['total_acc','pub_rec']
for e in variables3:
    dataset[e]=dataset[e].replace(np.nan,dataset[e].mode()[0])
    
# variables1=['mths_since_last_major_derog','mths_since_last_record','mths_since_rcnt_il']
# for e in variables1:
#     dataset[e]=dataset[e].replace(np.nan,0)

#Handle datetime，将Feb-1985转换成1985-02-01
# dataset['earliest_cr_line'] =  pd.to_datetime(dataset['earliest_cr_line'], format='%b-%Y')
# dataset['earliest_cr_line'] = dataset['earliest_cr_line'].map(lambda x: 12*x.year + x.month)
# dataset['nowMonth']=12*pd.to_datetime('today').year+pd.to_datetime('today').month
# dataset['earliest_cr_line'] = dataset.nowMonth-dataset.earliest_cr_line
# dataset.drop(['nowMonth'],axis=1,inplace=True)

In [16]:
dataset['mths_since_rcnt_il']=dataset['mths_since_rcnt_il'].replace(np.nan,0)

In [32]:
# Check missing:
print(dataset.isnull().sum())

acc_now_delinq                 177476
all_util                       866007
annual_inc                          0
collection_recovery_fee             0
collections_12_mths_ex_med          0
dti                                 0
earliest_cr_line                    0
emp_length                          0
funded_amnt                         0
funded_amnt_inv                     0
grade                               0
il_util                        868762
inq_fi                         866007
inq_last_12m                   866007
installment                         0
int_rate                            0
loan_amnt                           0
max_bal_bc                     866007
member_id                           0
mths_since_last_major_derog    665676
mths_since_last_record         750326
mths_since_rcnt_il             866569
open_acc_6m                    866007
open_il_12m                    866007
open_il_24m                    866007
open_il_6m                     866007
open_rv_12m                    866007
open_rv_24m                    866007
out_prncp                           0
out_prncp_inv                       0
policy_code                         0
pub_rec                             0
recoveries                          0
revol_bal                           0
revol_util                        502
source                              0
sub_grade                           0
term                                0
tot_coll_amt                    70276
tot_cur_bal                     70276
total_acc                           0
total_bal_il                   866007
total_cu_tl                    866007
total_pymnt                         0
total_pymnt_inv                     0
total_rec_int                       0
total_rec_late_fee                  0
total_rec_prncp                     0
total_rev_hi_lim                70276
loan_status_0                       0
loan_status_1                       0
loan_status_2                       0
loan_status_3                       0
loan_status_4                       0
loan_status_5                       0
loan_status_6                       0
loan_status_7                       0
loan_status_8                       0
loan_status_9                       0
home_ownership_0                    0
home_ownership_1                    0
home_ownership_2                    0
home_ownership_3                    0
home_ownership_4                    0
home_ownership_5                    0
verification_status_0               0
verification_status_1               0
verification_status_2               0
purpose_0                           0
purpose_1                           0
purpose_2                           0
purpose_3                           0
purpose_4                           0
purpose_5                           0
purpose_6                           0
purpose_7                           0
purpose_8                           0
purpose_9                           0
purpose_10                          0
purpose_11                          0
purpose_12                          0
purpose_13                          0
initial_list_status_0               0
initial_list_status_1               0
dtype: int64

In [26]:
dataset[dataset['mths_since_last_major_derog']==0].shapedataset[dataset['mths_since_last_major_derog']==0].shape

(153, 65)

In [27]:
pd.value_counts(dataset.mths_since_last_major_derog).to_frame()

       mths_since_last_major_derog
45.0                          3471
42.0                          3444
46.0                          3420
48.0                          3405
43.0                          3374
38.0                          3357
44.0                          3356
40.0                          3348
37.0                          3277
41.0                          3277
47.0                          3266
39.0                          3231
36.0                          3225
49.0                          3197
28.0                          3184
35.0                          3183
29.0                          3177
58.0                          3156
34.0                          3145
32.0                          3140
56.0                          3129
31.0                          3125
26.0                          3113
33.0                          3111
64.0                          3109
57.0                          3099
30.0                          3082
51.0                          3065
25.0                          3064
60.0                          3061
27.0                          3058
66.0                          3045
61.0                          3044
67.0                          3042
59.0                          3038
54.0                          3038
62.0                          3036
53.0                          3031
52.0                          3019
65.0                          3002
55.0                          3002
63.0                          2999
70.0                          2966
24.0                          2941
68.0                          2935
69.0                          2932
50.0                          2892
21.0                          2811
23.0                          2774
22.0                          2746
...                            ...
119.0                           42
124.0                           40
115.0                           40
122.0                           39
121.0                           37
126.0                           36
133.0                           33
117.0                           32
130.0                           31
123.0                           31
125.0                           28
128.0                           27
129.0                           27
127.0                           27
131.0                           24
135.0                           24
134.0                           23
137.0                           22
132.0                           21
141.0                           20
138.0                           19
146.0                           17
142.0                           17
136.0                           16
143.0                           16
139.0                           16
148.0                           15
140.0                           13
149.0                           10
145.0                            9
147.0                            8
151.0                            8
144.0                            7
152.0                            6
150.0                            5
153.0                            4
154.0                            3
170.0                            3
159.0                            2
156.0                            1
158.0                            1
165.0                            1
180.0                            1
162.0                            1
176.0                            1
169.0                            1
171.0                            1
155.0                            1
188.0                            1
157.0                            1

[168 rows x 1 columns]

In [16]:
dataset.columns

Index(['acc_now_delinq', 'all_util', 'annual_inc', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'dti', 'emp_length', 'funded_amnt',
       'funded_amnt_inv', 'grade', 'il_util', 'inq_fi', 'inq_last_12m',
       'installment', 'int_rate', 'loan_amnt', 'max_bal_bc', 'member_id',
       'mths_since_last_major_derog', 'mths_since_last_record',
       'mths_since_rcnt_il', 'open_acc_6m', 'open_il_12m', 'open_il_24m',
       'open_il_6m', 'open_rv_12m', 'open_rv_24m', 'out_prncp',
       'out_prncp_inv', 'policy_code', 'pub_rec', 'recoveries', 'revol_bal',
       'revol_util', 'source', 'sub_grade', 'term', 'tot_coll_amt',
       'tot_cur_bal', 'total_acc', 'total_bal_il', 'total_cu_tl',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_int', 'total_rec_late_fee',
       'total_rec_prncp', 'total_rev_hi_lim', 'loan_status_0', 'loan_status_1',
       'loan_status_2', 'loan_status_3', 'loan_status_4', 'loan_status_5',
       'loan_status_6', 'loan_status_7', 'loan_status_8', 'loan_status_9',
       'home_ownership_0', 'home_ownership_1', 'home_ownership_2',
       'home_ownership_3', 'home_ownership_4', 'home_ownership_5',
       'verification_status_0', 'verification_status_1',
       'verification_status_2', 'purpose_0', 'purpose_1', 'purpose_2',
       'purpose_3', 'purpose_4', 'purpose_5', 'purpose_6', 'purpose_7',
       'purpose_8', 'purpose_9', 'purpose_10', 'purpose_11', 'purpose_12',
       'purpose_13', 'initial_list_status_0', 'initial_list_status_1'],
      dtype='object')

In [45]:
train_df.head().transpose()

,0,1,2,3,4
member_id,13599771,1491956,64687987,8446850,58471388
loan_amnt,8875,12500,33600,17000,14000
funded_amnt,8875,12500,33600,17000,14000
funded_amnt_inv,8875,12475,33600,17000,14000
term,36 months,36 months,60 months,60 months,60 months
int_rate,18.25,8.9,18.55,9.71,16.99
installment,321.97,396.92,863.31,358.78,347.87
grade,D,A,E,B,D
sub_grade,D3,A5,E2,B1,D3
emp_title,Inventory/Part time Sup,Bel Brands USA,Assistant Principal,Cook Childrens Medical Center,Cook
emp_length,8 years,1 year,9 years,10+ years,5 years
home_ownership,MORTGAGE,MORTGAGE,RENT,MORTGAGE,RENT
annual_inc,55000,43000,101300,47840,30000
verification_status,Verified,Source Verified,Source Verified,Verified,Source Verified
issue_d,Mar-2014,May-2012,Sep-2015,Aug-2013,Jul-2015
loan_status,Charged Off,Fully Paid,Current,Fully Paid,In Grace Period
pymnt_plan,n,n,n,n,n
desc,NaN,NaN,NaN,Borrower added on 08/14/13 > Im not currentl...,NaN
purpose,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation
title,Debt consolidation,LC DbtL1,Debt consolidation,Consolidation,Debt consolidation
zip_code,770xx,541xx,108xx,760xx,076xx
addr_state,TX,WI,NY,TX,NJ
dti,23.65,10.58,20,4.01,31.85
earliest_cr_line,Feb-1985,Jul-1992,May-2001,Sep-1988,Mar-1999
mths_since_last_record,50,NaN,NaN,NaN,NaN
pub_rec,1,0,0,0,0
revol_bal,10020,13202,21467,6585,4167
revol_util,60,88,52,28.9,40.5
total_acc,31,18,27,14,21
initial_list_status,f,f,w,w,w
out_prncp,0,0,32552.2,0,13230.2
out_prncp_inv,0,0,32552.2,0,13230.2
total_pymnt,6078.11,14287.6,2555.3,18702.5,1712.92
total_pymnt_inv,6078.11,14259,2555.3,18702.5,1712.92
total_rec_prncp,3124.16,12500,1047.76,17000,769.76
total_rec_int,1705.39,1787.61,1507.54,1702.48,943.16
total_rec_late_fee,0,0,0,0,0
recoveries,1248.56,0,0,0,0
collection_recovery_fee,224.741,0,0,0,0
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,NaN,770,102,0
tot_cur_bal,144784,NaN,106215,129416,15589
open_acc_6m,NaN,NaN,NaN,NaN,NaN
open_il_6m,NaN,NaN,NaN,NaN,NaN
open_il_12m,NaN,NaN,NaN,NaN,NaN
open_il_24m,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,NaN,NaN,NaN,NaN,NaN
total_bal_il,NaN,NaN,NaN,NaN,NaN
il_util,NaN,NaN,NaN,NaN,NaN
open_rv_12m,NaN,NaN,NaN,NaN,NaN
open_rv_24m,NaN,NaN,NaN,NaN,NaN
max_bal_bc,NaN,NaN,NaN,NaN,NaN
all_util,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,16700,NaN,41300,22800,10300
inq_fi,NaN,NaN,NaN,NaN,NaN
total_cu_tl,NaN,NaN,NaN,NaN,NaN
inq_last_12m,NaN,NaN,NaN,NaN,NaN
source,train,train,train,train,train

In [17]:
train = dataset.loc[dataset['source']=='train']
test = dataset.loc[dataset['source']=='test']

In [18]:
train.drop('source',axis=1,inplace=True)
test.drop(['source','acc_now_delinq'],axis=1,inplace=True)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
print(train.shape, test.shape)

(709903, 82) (177476, 81)

In [20]:
train.to_csv('../dump/train_modified_label.csv',index=False)
test.to_csv('../dump/test_modified_label.csv',index=False)