In [45]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
# pd.set_option('display.max_rows', 100)
import missingno as msno
%matplotlib inline

In [25]:
from subprocess import check_output
print(check_output(["ls", "../input"]).decode("utf8"))

~$DataDictionary.xlsx
DataDictionary.xlsx
game.rar
sample_submission.csv
test.csv
train.csv

In [36]:
# 因为你的输入数据列有混合类型，而PANDAS默认要找到可以使所占用空间最小的类型来储存你的数据。
# low_memory设置为false之后，pandas就不进行寻找，直接采用较大的数据类型来储存。
# train_df = pd.read_csv("../input/train.csv", parse_dates=["transactiondate"])
train_df = pd.read_csv("../input/train.csv")
test_df = pd.read_csv("../input/test.csv")

# train_data=pd.read_csv("../input/train.csv",low_memory=False)

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [37]:
print ("Shape Of Train: ",train_df.shape)
print ("Shape Of Test: ",test_df.shape)

Shape Of Train:  (709903, 64)
Shape Of Test:  (177476, 63)

In [28]:
train_df.head(5).transpose()

,0,1,2,3,4
member_id,13599771,1491956,64687987,8446850,58471388
loan_amnt,8875,12500,33600,17000,14000
funded_amnt,8875,12500,33600,17000,14000
funded_amnt_inv,8875,12475,33600,17000,14000
term,36 months,36 months,60 months,60 months,60 months
int_rate,18.25,8.9,18.55,9.71,16.99
installment,321.97,396.92,863.31,358.78,347.87
grade,D,A,E,B,D
sub_grade,D3,A5,E2,B1,D3
emp_title,Inventory/Part time Sup,Bel Brands USA,Assistant Principal,Cook Childrens Medical Center,Cook
emp_length,8 years,1 year,9 years,10+ years,5 years
home_ownership,MORTGAGE,MORTGAGE,RENT,MORTGAGE,RENT
annual_inc,55000,43000,101300,47840,30000
verification_status,Verified,Source Verified,Source Verified,Verified,Source Verified
issue_d,Mar-2014,May-2012,Sep-2015,Aug-2013,Jul-2015
loan_status,Charged Off,Fully Paid,Current,Fully Paid,In Grace Period
pymnt_plan,n,n,n,n,n
desc,NaN,NaN,NaN,Borrower added on 08/14/13 > Im not currentl...,NaN
purpose,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation,debt_consolidation
title,Debt consolidation,LC DbtL1,Debt consolidation,Consolidation,Debt consolidation
zip_code,770xx,541xx,108xx,760xx,076xx
addr_state,TX,WI,NY,TX,NJ
dti,23.65,10.58,20,4.01,31.85
earliest_cr_line,Feb-1985,Jul-1992,May-2001,Sep-1988,Mar-1999
mths_since_last_record,50,NaN,NaN,NaN,NaN
pub_rec,1,0,0,0,0
revol_bal,10020,13202,21467,6585,4167
revol_util,60,88,52,28.9,40.5
total_acc,31,18,27,14,21
initial_list_status,f,f,w,w,w
out_prncp,0,0,32552.2,0,13230.2
out_prncp_inv,0,0,32552.2,0,13230.2
total_pymnt,6078.11,14287.6,2555.3,18702.5,1712.92
total_pymnt_inv,6078.11,14259,2555.3,18702.5,1712.92
total_rec_prncp,3124.16,12500,1047.76,17000,769.76
total_rec_int,1705.39,1787.61,1507.54,1702.48,943.16
total_rec_late_fee,0,0,0,0,0
recoveries,1248.56,0,0,0,0
collection_recovery_fee,224.741,0,0,0,0
collections_12_mths_ex_med,0,0,0,0,0
mths_since_last_major_derog,NaN,NaN,NaN,NaN,NaN
policy_code,1,1,1,1,1
application_type,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL,INDIVIDUAL
annual_inc_joint,NaN,NaN,NaN,NaN,NaN
dti_joint,NaN,NaN,NaN,NaN,NaN
verification_status_joint,NaN,NaN,NaN,NaN,NaN
acc_now_delinq,0,0,0,0,0
tot_coll_amt,0,NaN,770,102,0
tot_cur_bal,144784,NaN,106215,129416,15589
open_acc_6m,NaN,NaN,NaN,NaN,NaN
open_il_6m,NaN,NaN,NaN,NaN,NaN
open_il_12m,NaN,NaN,NaN,NaN,NaN
open_il_24m,NaN,NaN,NaN,NaN,NaN
mths_since_rcnt_il,NaN,NaN,NaN,NaN,NaN
total_bal_il,NaN,NaN,NaN,NaN,NaN
il_util,NaN,NaN,NaN,NaN,NaN
open_rv_12m,NaN,NaN,NaN,NaN,NaN
open_rv_24m,NaN,NaN,NaN,NaN,NaN
max_bal_bc,NaN,NaN,NaN,NaN,NaN
all_util,NaN,NaN,NaN,NaN,NaN
total_rev_hi_lim,16700,NaN,41300,22800,10300
inq_fi,NaN,NaN,NaN,NaN,NaN
total_cu_tl,NaN,NaN,NaN,NaN,NaN
inq_last_12m,NaN,NaN,NaN,NaN,NaN

In [32]:
print ("Shape Of Positive Train: ",train_df[train_df['acc_now_delinq']==1].shape)
print ("Shape Of Negetive Train: ",train_df[train_df['acc_now_delinq']==0].shape)

Shape Of Positive Train:  (3293, 64)
Shape Of Negetive Train:  (706610, 64)

In [47]:
count_classes = pd.value_counts(train_df['acc_now_delinq'], sort = True).sort_index()
count_classes.plot(kind = 'bar')
plt.title("Fraud class histogram")
plt.xlabel("Class")
plt.ylabel("Frequency")

Text(0,0.5,'Frequency')

In [33]:
missing_df = train_df.isnull().sum(axis=0).reset_index()
missing_df.columns = ['column_name', 'missing_count']
missing_df['missing_ratio'] = missing_df['missing_count'] / train_df.shape[0]
missing_df.loc[missing_df['missing_ratio']>0.999]

                  column_name  missing_count  missing_ratio
43           annual_inc_joint         709493       0.999422
44                  dti_joint         709495       0.999425
45  verification_status_joint         709493       0.999422

In [42]:
dataTypeDf = pd.DataFrame(train_df.dtypes.value_counts()).reset_index().rename(columns={"index":"variableType",0:"count"})
fig,ax = plt.subplots()
fig.set_size_inches(20,5)
sn.barplot(data=dataTypeDf,x="variableType",y="count",ax=ax,color="#34495e")
ax.set(xlabel='Variable Type', ylabel='Count',title="Variables Count Across Datatype")

[Text(0,0.5,'Count'),
 Text(0.5,0,'Variable Type'),
 Text(0.5,1,'Variables Count Across Datatype')]

In [48]:
missingValueColumns = train_df.columns[train_df.isnull().any()].tolist()
msno.bar(train_df[missingValueColumns],\
            figsize=(20,8),color="#34495e",fontsize=12,labels=True,)